.elementor-57 .elementor-element.elementor-element-eb994b6>.elementor-container {
    max-width: 1200px;
}

.elementor-57 .elementor-element.elementor-element-eb994b6:not(.elementor-motion-effects-element-type-background),
.elementor-57 .elementor-element.elementor-element-eb994b6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0D3276;
}

.elementor-57 .elementor-element.elementor-element-eb994b6 {
    border-style: none;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-57 .elementor-element.elementor-element-eb994b6,
.elementor-57 .elementor-element.elementor-element-eb994b6>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-57 .elementor-element.elementor-element-eb994b6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-57 .elementor-element.elementor-element-380ada0 {
    text-align: left;
    width: var( --container-widget-width, 95px);
    max-width: 95px;
    --container-widget-width: 95px;
    --container-widget-flex-grow: 0;
}

.elementor-57 .elementor-element.elementor-element-380ada0 img {
    width: 100%;
}

.elementor-57 .elementor-element.elementor-element-380ada0.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-bc-flex-widget .elementor-57 .elementor-element.elementor-element-ff8ba02.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-ff8ba02.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-menu-toggle {
    margin: 0 auto;
    background-color: var( --e-global-color-e6f9b46);
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu .elementor-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-486c351);
    fill: var( --e-global-color-486c351);
    padding-left: 19px;
    padding-right: 19px;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main .elementor-item:hover,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main .elementor-item:focus {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-framed .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-framed .elementor-item:after {
    border-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-framed .elementor-item:before {
    border-width: 1px;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 1px 1px;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 1px 1px 0 0;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 1px 0 0 1px;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 1px 1px 0;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-underline .elementor-item:after,
.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-overline .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-double-line .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-99f49ab .e--pointer-double-line .elementor-item:after {
    height: 1px;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown a,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-menu-toggle {
    color: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown {
    background-color: #0D3276;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #F3F7FB;
    border-radius: 0px 0px 1px 0px;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown a:hover,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown a.highlighted,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-menu-toggle:hover {
    color: var( --e-global-color-c1b1083);
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown a:hover,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown .elementor-item,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 0px;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: #F6F6F6;
    border-bottom-width: 1px;
}

.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 18px !important;
}

.elementor-57 .elementor-element.elementor-element-99f49ab div.elementor-menu-toggle {
    color: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-99f49ab div.elementor-menu-toggle svg {
    fill: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-99f49ab.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-57 .elementor-element.elementor-element-99f49ab {
    z-index: 20;
}

.elementor-bc-flex-widget .elementor-57 .elementor-element.elementor-element-3ee74cb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-3ee74cb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-3ee74cb>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-57 .elementor-element.elementor-element-f77348a .elementor-button .elementor-align-icon-right {
    margin-left: 12px;
}

.elementor-57 .elementor-element.elementor-element-f77348a .elementor-button .elementor-align-icon-left {
    margin-right: 12px;
}

.elementor-57 .elementor-element.elementor-element-f77348a .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #006AD3;
}

.elementor-57 .elementor-element.elementor-element-f77348a .elementor-button:hover,
.elementor-57 .elementor-element.elementor-element-f77348a .elementor-button:focus {
    background-color: #3C91E6;
}

.elementor-57 .elementor-element.elementor-element-f77348a {
    width: var( --container-widget-width, 161px);
    max-width: 161px;
    --container-widget-width: 161px;
    --container-widget-flex-grow: 0;
}

.elementor-57 .elementor-element.elementor-element-f77348a.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-bc-flex-widget .elementor-57 .elementor-element.elementor-element-f9f0f86.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-f9f0f86.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-f9f0f86>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-57 .elementor-element.elementor-element-746b12f .elementor-button .elementor-align-icon-right {
    margin-left: 8px;
}

.elementor-57 .elementor-element.elementor-element-746b12f .elementor-button .elementor-align-icon-left {
    margin-right: 8px;
}

.elementor-57 .elementor-element.elementor-element-746b12f .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #3C91E6;
}

.elementor-57 .elementor-element.elementor-element-746b12f .elementor-button:hover,
.elementor-57 .elementor-element.elementor-element-746b12f .elementor-button:focus {
    background-color: #3C91E6;
}

.elementor-57 .elementor-element.elementor-element-00f2831:not(.elementor-motion-effects-element-type-background),
.elementor-57 .elementor-element.elementor-element-00f2831>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0D3276;
}

.elementor-57 .elementor-element.elementor-element-00f2831 {
    border-style: none;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-57 .elementor-element.elementor-element-00f2831,
.elementor-57 .elementor-element.elementor-element-00f2831>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-57 .elementor-element.elementor-element-00f2831>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-57 .elementor-element.elementor-element-0303405 {
    text-align: left;
}

.elementor-bc-flex-widget .elementor-57 .elementor-element.elementor-element-97fd860.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-97fd860.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-5f69b75 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-57 .elementor-element.elementor-element-5f69b75.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-5f69b75.elementor-view-framed .elementor-icon,
.elementor-57 .elementor-element.elementor-element-5f69b75.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-5f69b75.elementor-view-framed .elementor-icon,
.elementor-57 .elementor-element.elementor-element-5f69b75.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-5f69b75 .elementor-icon {
    font-size: 15px;
}

.elementor-57 .elementor-element.elementor-element-5f69b75 .elementor-icon svg {
    height: 15px;
}

.elementor-bc-flex-widget .elementor-57 .elementor-element.elementor-element-23f6bbf.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-23f6bbf.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-858059a .elementor-icon-wrapper {
    text-align: center;
}

.elementor-57 .elementor-element.elementor-element-858059a.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-858059a.elementor-view-framed .elementor-icon,
.elementor-57 .elementor-element.elementor-element-858059a.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-858059a.elementor-view-framed .elementor-icon,
.elementor-57 .elementor-element.elementor-element-858059a.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-858059a .elementor-icon {
    font-size: 15px;
}

.elementor-57 .elementor-element.elementor-element-858059a .elementor-icon svg {
    height: 15px;
}

.elementor-bc-flex-widget .elementor-57 .elementor-element.elementor-element-c1e187d.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-c1e187d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-24e8a3c .elementor-icon-wrapper {
    text-align: center;
}

.elementor-57 .elementor-element.elementor-element-24e8a3c.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-24e8a3c.elementor-view-framed .elementor-icon,
.elementor-57 .elementor-element.elementor-element-24e8a3c.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-24e8a3c.elementor-view-framed .elementor-icon,
.elementor-57 .elementor-element.elementor-element-24e8a3c.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-24e8a3c .elementor-icon {
    font-size: 15px;
}

.elementor-57 .elementor-element.elementor-element-24e8a3c .elementor-icon svg {
    height: 15px;
}

.elementor-bc-flex-widget .elementor-57 .elementor-element.elementor-element-e6260e0.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-e6260e0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-menu-toggle {
    margin: 0 auto;
    background-color: var( --e-global-color-e6f9b46);
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu .elementor-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-486c351);
    fill: var( --e-global-color-486c351);
    padding-left: 19px;
    padding-right: 19px;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main .elementor-item:hover,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main .elementor-item:focus {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-framed .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-framed .elementor-item:after {
    border-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-framed .elementor-item:before {
    border-width: 1px;
}

.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 1px 1px;
}

.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 1px 1px 0 0;
}

.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 1px 0 0 1px;
}

.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 1px 1px 0;
}

.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-underline .elementor-item:after,
.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-overline .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-double-line .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-354035e .e--pointer-double-line .elementor-item:after {
    height: 1px;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown a,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-menu-toggle {
    color: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown {
    background-color: #0D3276;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #F3F7FB;
    border-radius: 0px 0px 1px 0px;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown a:hover,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown a.highlighted,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-menu-toggle:hover {
    color: var( --e-global-color-c1b1083);
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown a:hover,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown .elementor-item,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 0px;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: #F6F6F6;
    border-bottom-width: 1px;
}

.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 20px !important;
}

.elementor-57 .elementor-element.elementor-element-354035e div.elementor-menu-toggle {
    color: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-354035e div.elementor-menu-toggle svg {
    fill: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-354035e {
    z-index: 20;
}

.elementor-bc-flex-widget .elementor-57 .elementor-element.elementor-element-b20120c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-b20120c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-b20120c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-57 .elementor-element.elementor-element-13b6512 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #006AD3;
}

.elementor-57 .elementor-element.elementor-element-13b6512 .elementor-button:hover,
.elementor-57 .elementor-element.elementor-element-13b6512 .elementor-button:focus {
    background-color: #3C91E6;
}

.elementor-bc-flex-widget .elementor-57 .elementor-element.elementor-element-2c4ad31.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-2c4ad31.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-57 .elementor-element.elementor-element-2c4ad31>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-57 .elementor-element.elementor-element-d70843d .elementor-button .elementor-align-icon-right {
    margin-left: 8px;
}

.elementor-57 .elementor-element.elementor-element-d70843d .elementor-button .elementor-align-icon-left {
    margin-right: 8px;
}

.elementor-57 .elementor-element.elementor-element-d70843d .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #3C91E6;
}

.elementor-57 .elementor-element.elementor-element-d70843d .elementor-button:hover,
.elementor-57 .elementor-element.elementor-element-d70843d .elementor-button:focus {
    background-color: #3C91E6;
}

.elementor-57 .elementor-element.elementor-element-6d614b7 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 5px;
    --padding-right: 5px;
}

.elementor-57 .elementor-element.elementor-element-6d614b7:not(.elementor-motion-effects-element-type-background),
.elementor-57 .elementor-element.elementor-element-6d614b7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #006AD3;
}

.elementor-57 .elementor-element.elementor-element-6d614b7,
.elementor-57 .elementor-element.elementor-element-6d614b7::before {
    --border-transition: 0.3s;
}

.elementor-57 .elementor-element.elementor-element-2a3b828 {
    text-align: center;
    color: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-50b198c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: none;
    --border-style: none;
    --border-radius: 0px 0px 0px 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-57 .elementor-element.elementor-element-50b198c:not(.elementor-motion-effects-element-type-background),
.elementor-57 .elementor-element.elementor-element-50b198c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0D3276;
}

.elementor-57 .elementor-element.elementor-element-50b198c,
.elementor-57 .elementor-element.elementor-element-50b198c::before {
    --overlay-transition: 0.3s;
    --border-transition: 0.3s;
}

.elementor-57 .elementor-element.elementor-element-a4f06fe {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 5px;
    --padding-right: 5px;
}

.elementor-57 .elementor-element.elementor-element-a4f06fe.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-57 .elementor-element.elementor-element-53a8f39 {
    text-align: center;
}

.elementor-57 .elementor-element.elementor-element-53a8f39 img {
    width: 70%;
}

.elementor-57 .elementor-element.elementor-element-53a8f39.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-57 .elementor-element.elementor-element-19d3bee {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 5px;
    --padding-right: 5px;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-menu-toggle {
    margin: 0 auto;
    background-color: var( --e-global-color-e6f9b46);
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu .elementor-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-486c351);
    fill: var( --e-global-color-486c351);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main .elementor-item:hover,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main .elementor-item:focus {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-framed .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-framed .elementor-item:after {
    border-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #FFFFFF;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-framed .elementor-item:before {
    border-width: 1px;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 1px 1px;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 1px 1px 0 0;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 1px 0 0 1px;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 1px 1px 0;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-underline .elementor-item:after,
.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-overline .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-double-line .elementor-item:before,
.elementor-57 .elementor-element.elementor-element-62c5542 .e--pointer-double-line .elementor-item:after {
    height: 1px;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown a,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-menu-toggle {
    color: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown {
    background-color: #0D3276;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #F3F7FB;
    border-radius: 0px 0px 1px 0px;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown a:hover,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown a.highlighted,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-menu-toggle:hover {
    color: var( --e-global-color-c1b1083);
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown a:hover,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown .elementor-item,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 0px;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: #F6F6F6;
    border-bottom-width: 1px;
}

.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 18px !important;
}

.elementor-57 .elementor-element.elementor-element-62c5542 div.elementor-menu-toggle {
    color: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-62c5542 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-486c351);
}

.elementor-57 .elementor-element.elementor-element-62c5542.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-57 .elementor-element.elementor-element-62c5542 {
    z-index: 20;
}

.elementor-57 .elementor-element.elementor-element-539150a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 5px;
    --padding-right: 5px;
}

.elementor-57 .elementor-element.elementor-element-e581d07 .elementor-button .elementor-align-icon-right {
    margin-left: 8px;
}

.elementor-57 .elementor-element.elementor-element-e581d07 .elementor-button .elementor-align-icon-left {
    margin-right: 8px;
}

.elementor-57 .elementor-element.elementor-element-e581d07 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #3C91E6;
}

.elementor-57 .elementor-element.elementor-element-e581d07 .elementor-button:hover,
.elementor-57 .elementor-element.elementor-element-e581d07 .elementor-button:focus {
    background-color: #3C91E6;
}

.elementor-57 .elementor-element.elementor-element-fb0107a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 5px;
    --padding-right: 5px;
}

.elementor-57 .elementor-element.elementor-element-55c271d .elementor-button .elementor-align-icon-right {
    margin-left: 12px;
}

.elementor-57 .elementor-element.elementor-element-55c271d .elementor-button .elementor-align-icon-left {
    margin-right: 12px;
}

.elementor-57 .elementor-element.elementor-element-55c271d .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #006AD3;
}

.elementor-57 .elementor-element.elementor-element-55c271d .elementor-button:hover,
.elementor-57 .elementor-element.elementor-element-55c271d .elementor-button:focus {
    background-color: #3C91E6;
}

.elementor-57 .elementor-element.elementor-element-58dde3b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 5px;
    --padding-right: 5px;
}

.elementor-57 .elementor-element.elementor-element-72f8ada .elementor-button .elementor-align-icon-right {
    margin-left: 8px;
}

.elementor-57 .elementor-element.elementor-element-72f8ada .elementor-button .elementor-align-icon-left {
    margin-right: 8px;
}

.elementor-57 .elementor-element.elementor-element-72f8ada .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #3C91E6;
}

.elementor-57 .elementor-element.elementor-element-72f8ada .elementor-button:hover,
.elementor-57 .elementor-element.elementor-element-72f8ada .elementor-button:focus {
    background-color: #3C91E6;
}

.elementor-57 .elementor-element.elementor-element-561573c .elementor-button .elementor-align-icon-right {
    margin-left: 8px;
}

.elementor-57 .elementor-element.elementor-element-561573c .elementor-button .elementor-align-icon-left {
    margin-right: 8px;
}

.elementor-57 .elementor-element.elementor-element-561573c .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #3C91E6;
}

.elementor-57 .elementor-element.elementor-element-561573c .elementor-button:hover,
.elementor-57 .elementor-element.elementor-element-561573c .elementor-button:focus {
    background-color: #3C91E6;
}

@media(max-width:1024px) {
    .elementor-57 .elementor-element.elementor-element-eb994b6 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 43px !important;
    }
    .elementor-57 .elementor-element.elementor-element-00f2831 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 43px !important;
    }
    .elementor-57 .elementor-element.elementor-element-50b198c {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 43px !important;
    }
}

@media(max-width:767px) {
    .elementor-57 .elementor-element.elementor-element-eb994b6 {
        padding: 2px 0px 2px 0px;
    }
    .elementor-57 .elementor-element.elementor-element-d2f0f9a {
        width: 30%;
    }
    .elementor-bc-flex-widget .elementor-57 .elementor-element.elementor-element-d2f0f9a.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-57 .elementor-element.elementor-element-d2f0f9a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-57 .elementor-element.elementor-element-d2f0f9a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-57 .elementor-element.elementor-element-380ada0 {
        text-align: center;
    }
    .elementor-57 .elementor-element.elementor-element-380ada0 img {
        width: 60%;
    }
    .elementor-57 .elementor-element.elementor-element-380ada0>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-57 .elementor-element.elementor-element-ff8ba02 {
        width: 25%;
    }
    .elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main .elementor-item {
        padding-left: 25px;
        padding-right: 25px;
    }
    .elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--dropdown a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-57 .elementor-element.elementor-element-99f49ab .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 10px !important;
    }
    .elementor-57 .elementor-element.elementor-element-99f49ab .elementor-menu-toggle {
        border-radius: 0px;
    }
    .elementor-57 .elementor-element.elementor-element-00f2831 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 0px;
    }
    .elementor-57 .elementor-element.elementor-element-00f2831 {
        padding: 5px 0px 5px 15px;
    }
    .elementor-57 .elementor-element.elementor-element-2f947ef {
        width: 35%;
    }
    .elementor-bc-flex-widget .elementor-57 .elementor-element.elementor-element-2f947ef.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-57 .elementor-element.elementor-element-2f947ef.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-57 .elementor-element.elementor-element-2f947ef>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 15px;
    }
    .elementor-57 .elementor-element.elementor-element-0303405 {
        text-align: left;
    }
    .elementor-57 .elementor-element.elementor-element-0303405 img {
        width: 80%;
        max-width: 100px;
    }
    .elementor-57 .elementor-element.elementor-element-0303405>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-57 .elementor-element.elementor-element-97fd860 {
        width: 16.25%;
    }
    .elementor-57 .elementor-element.elementor-element-97fd860>.elementor-element-populated {
        margin: 8px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-57 .elementor-element.elementor-element-5f69b75 .elementor-icon-wrapper {
        text-align: center;
    }
    .elementor-57 .elementor-element.elementor-element-5f69b75 .elementor-icon {
        font-size: 20px;
    }
    .elementor-57 .elementor-element.elementor-element-5f69b75 .elementor-icon svg {
        height: 20px;
    }
    .elementor-57 .elementor-element.elementor-element-23f6bbf {
        width: 16.25%;
    }
    .elementor-57 .elementor-element.elementor-element-23f6bbf>.elementor-element-populated {
        margin: 8px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-57 .elementor-element.elementor-element-858059a .elementor-icon-wrapper {
        text-align: center;
    }
    .elementor-57 .elementor-element.elementor-element-858059a .elementor-icon {
        font-size: 20px;
    }
    .elementor-57 .elementor-element.elementor-element-858059a .elementor-icon svg {
        height: 20px;
    }
    .elementor-57 .elementor-element.elementor-element-c1e187d {
        width: 16.25%;
    }
    .elementor-57 .elementor-element.elementor-element-c1e187d>.elementor-element-populated {
        margin: 8px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-57 .elementor-element.elementor-element-24e8a3c .elementor-icon-wrapper {
        text-align: center;
    }
    .elementor-57 .elementor-element.elementor-element-24e8a3c .elementor-icon {
        font-size: 20px;
    }
    .elementor-57 .elementor-element.elementor-element-24e8a3c .elementor-icon svg {
        height: 20px;
    }
    .elementor-57 .elementor-element.elementor-element-e6260e0 {
        width: 16.25%;
    }
    .elementor-57 .elementor-element.elementor-element-e6260e0.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-57 .elementor-element.elementor-element-e6260e0>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main .elementor-item {
        padding-left: 25px;
        padding-right: 25px;
    }
    .elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--dropdown a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-57 .elementor-element.elementor-element-354035e .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 10px !important;
    }
    .elementor-57 .elementor-element.elementor-element-354035e {
        --nav-menu-icon-size: 25px;
    }
    .elementor-57 .elementor-element.elementor-element-354035e .elementor-menu-toggle {
        border-radius: 0px;
    }
    .elementor-57 .elementor-element.elementor-element-50b198c {
        --padding-top: 2px;
        --padding-bottom: 2px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-57 .elementor-element.elementor-element-53a8f39 {
        text-align: center;
    }
    .elementor-57 .elementor-element.elementor-element-53a8f39 img {
        width: 60%;
    }
    .elementor-57 .elementor-element.elementor-element-53a8f39>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main .elementor-item {
        padding-left: 25px;
        padding-right: 25px;
    }
    .elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--dropdown a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-57 .elementor-element.elementor-element-62c5542 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 10px !important;
    }
    .elementor-57 .elementor-element.elementor-element-62c5542 .elementor-menu-toggle {
        border-radius: 0px;
    }
}

@media(min-width:768px) {
    .elementor-57 .elementor-element.elementor-element-d2f0f9a {
        width: 7.328%;
    }
    .elementor-57 .elementor-element.elementor-element-ff8ba02 {
        width: 65.253%;
    }
    .elementor-57 .elementor-element.elementor-element-3ee74cb {
        width: 12.48%;
    }
    .elementor-57 .elementor-element.elementor-element-f9f0f86 {
        width: 14.903%;
    }
    .elementor-57 .elementor-element.elementor-element-a4f06fe {
        --width: 10%;
    }
    .elementor-57 .elementor-element.elementor-element-539150a {
        --width: 25%;
    }
    .elementor-57 .elementor-element.elementor-element-fb0107a {
        --width: 25%;
    }
    .elementor-57 .elementor-element.elementor-element-58dde3b {
        --width: 25%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-57 .elementor-element.elementor-element-d2f0f9a {
        width: 20%;
    }
    .elementor-57 .elementor-element.elementor-element-ff8ba02 {
        width: 50%;
    }
    .elementor-57 .elementor-element.elementor-element-3ee74cb {
        width: 23%;
    }
    .elementor-57 .elementor-element.elementor-element-f9f0f86 {
        width: 23%;
    }
    .elementor-57 .elementor-element.elementor-element-2f947ef {
        width: 20%;
    }
    .elementor-57 .elementor-element.elementor-element-97fd860 {
        width: 50%;
    }
    .elementor-57 .elementor-element.elementor-element-23f6bbf {
        width: 50%;
    }
    .elementor-57 .elementor-element.elementor-element-c1e187d {
        width: 50%;
    }
    .elementor-57 .elementor-element.elementor-element-e6260e0 {
        width: 50%;
    }
    .elementor-57 .elementor-element.elementor-element-b20120c {
        width: 23%;
    }
    .elementor-57 .elementor-element.elementor-element-2c4ad31 {
        width: 23%;
    }
}

/* Start custom CSS */

.less p {
    margin: 0
}

.logged-in #login-btn .elementor-button-text {
    display: none;
}

.logged-in #login-btn .elementor-button-icon:after {
    content: "My Account";
    padding-left: 1px;
}

.logged-in #login-btn .elementor-button-icon {
    margin-right: 0;
}

.logged-in #login-btn a {
    padding: 13px !important;
}

.mobile-header-nav .mobile-nav .elementor-widget-wrap {
    padding: 0;
}

.mobile-nav .elementor-nav-menu--dropdown {
    top: 60px !important;
}

.page-id-473 .global-announcement {
    display: none;
}

/* End custom CSS */